[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
invoke = "*"
gitpython = "*"
altair = "*"
geopandas = "*"
pandas = "*"
streamlit = "*"
folium = "*"
streamlit-folium = "*"
